services:
 backend:
  image: cicd-backend
  ports:
    - "5000:5000"


frontend:
  image: cicd-frontend
  ports:
    - "80:80"


  db:
    image: postgres:15
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db-data:
